[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boxsdk = {extras = ["jwt"],version = "*"}
flask = "*"
click = "*"
pandas = "*"
xlrd = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
